body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.hidden { display: none; }

.login {
    margin-top: 150px;
}

input {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background: #6366f1;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.addBox {
    margin: 20px;
}

.yearCard {
    background: #1e293b;
    padding: 15px;
    margin: 20px;
    border-radius: 12px;
}

.link {
    display: block;
    padding: 8px;
    margin: 5px;
    background: #334155;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}
